*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(20, 36, 114); 
}
.container .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgb(231, 205, 56);
    padding: 20px 0;
}
.shokh{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.shokh img{
    width: 24px;
    margin: 1px 15px;
}
.shokh h1{
    font-size: 32px;
    font-family: 'Times New Roman', Times, serifr;
    color: black    ;
}
.shokh h1 span{
    color: #FF7F50;
}
.container .navbar ul li{
    display: inline-block;
}
.container .navbar ul li .link{
    display: inline-block;
}
.container .navbar ul li .link a{
    text-decoration: none;
    padding: 0 16px;
    font-size: 16px;
    font-family: sans-serif;
    color: #f1f1f1;
    letter-spacing: 1px;
    transition: 0.3s;
}
.container .navbar ul li .link a:hover{
    color: #FF7F50;
    transition: 0.4s;
}
.container .navbar ul li img{
    width: 15px;
}
.container .navbar ul li .link{
    padding: 0 5px;
}

#button{
    background: linear-gradient(to right, rgb(32, 18, 226),rgb(170, 18, 53));
    color: #f1f1f1;
    padding: 10px 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    transition: 0.5s;
}
#button:hover{
    color: black;
    background-color: #f1f1f1;
    transition: 0.5s;
}
input{
    border-radius: 10px;
    padding: 10px 10px;
    background-color: rgb(191, 238, 203);
    transition: 0.5s;
    margin-left: 10px;
    margin-top: 50px;
}
input:hover{
    background-color: #f1f1f1;
    transition: 0.5s;
    transform: scale(1.1);

}
#list-items{
    background-color: rgb(82, 87, 236);
    width: 17%;
    height: 30px;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#p{
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#ybtn{
    border-radius: 10px;
    padding: 3px 5px;
    background-color: green;
}
#nbtn{
    background-color: red;
    padding: 3px 5px;
    border-radius: 10px;
}
